section.partners 
    .container 
        h2.title.title--center Supported by&nbsp;12+&nbsp;partners
        ul.list-reset.partners__list
            li.partners__item
                a(href="#").partners__link
                    img(src=require("../assets/img/client-logo-1.png"), alt="logo-1").partners__logo
            li.partners__item
                a(href="#").partners__link
                    img(src=require("../assets/img/client-logo-2.png"), alt="logo-2").partners__logo
            li.partners__item
                a(href="#").partners__link
                    img(src=require("../assets/img/client-logo-3.png"), alt="logo-3").partners__logo
            li.partners__item
                a(href="#").partners__link
                    img(src=require("../assets/img/client-logo-4.png"), alt="logo-4").partners__logo
            li.partners__item
                a(href="#").partners__link
                    img(src=require("../assets/img/client-logo-5.png"), alt="logo-5").partners__logo
            li.partners__item
                a(href="#").partners__link
                    img(src=require("../assets/img/client-logo-6.png"), alt="logo-6").partners__logo
